Repository PHP-CMSIG/search, pull requests merged in 2024-12, with the labels that each got.

#464 Move Mono Repo hint to the top of the sub readme files
  integrations/laravel/README.md
  integrations/mezzio/README.md
  integrations/spiral/README.md
  integrations/symfony/README.md
  integrations/yii/README.md
  packages/seal-algolia-adapter/README.md
  packages/seal-elasticsearch-adapter/README.md
  packages/seal-loupe-adapter/README.md
  packages/seal-meilisearch-adapter/README.md
  packages/seal-memory-adapter/README.md
  packages/seal-multi-adapter/README.md
  packages/seal-opensearch-adapter/README.md
  packages/seal-read-write-adapter/README.md
  packages/seal-redisearch-adapter/README.md
  packages/seal-solr-adapter/README.md
  packages/seal-typesense-adapter/README.md
  packages/seal/README.md
Labels: DX

#460 Introducing partial reindexes
  .examples/laravel/app/Search/BlogReindexProvider.php
  .examples/mezzio/src/App/src/Search/BlogReindexProvider.php
  .examples/spiral/app/src/Search/BlogReindexProvider.php
  .examples/symfony/src/Search/BlogReindexProvider.php
  .examples/yii/src/Search/BlogReindexProvider.php
  integrations/laravel/src/Console/ReindexCommand.php
  integrations/mezzio/src/Command/ReindexCommand.php
  integrations/spiral/src/Console/ReindexCommand.php
  integrations/symfony/src/Command/ReindexCommand.php
  integrations/yii/src/Command/ReindexCommand.php
  packages/seal/src/Engine.php
  packages/seal/src/EngineInterface.php
  packages/seal/src/Reindex/ReindexConfig.php
  packages/seal/src/Reindex/ReindexProviderInterface.php
Labels: features, SEAL Core, Integration: Symfony, Integration: Laravel, Integration: Spiral, Integration: Mezzio

#465 Make sure identifiers are empty
  integrations/laravel/src/Console/ReindexCommand.php
  integrations/mezzio/src/Command/ReindexCommand.php
  integrations/spiral/src/Console/ReindexCommand.php
  integrations/symfony/src/Command/ReindexCommand.php
  integrations/yii/src/Command/ReindexCommand.php
Labels: bug, Integration: Symfony, Integration: Laravel, Integration: Spiral, Integration: Mezzio, Integration: Yii

#466 Fix phpstan issues in spiral integration
  .github/workflows/callable-test.yml
  integrations/spiral/src/Console/ReindexCommand.php
Labels: bug, Integration: Spiral

#468 Refix phpstan issues in spiral integration and add missing docs for reindex opitons
  .examples/laravel/composer.lock
  .examples/mezzio/composer.lock
  .examples/spiral/composer.lock
  .examples/symfony/composer.lock
  .examples/yii/composer.lock
  docs/getting-started/index.rst
  docs/indexing/index.rst
  integrations/laravel/composer.lock
  integrations/mezzio/composer.lock
  integrations/spiral/composer.lock
  integrations/spiral/src/Console/ReindexCommand.php
  integrations/symfony/composer.lock
  integrations/yii/composer.lock
  packages/seal-algolia-adapter/composer.lock
  packages/seal-elasticsearch-adapter/composer.lock
  packages/seal-loupe-adapter/composer.lock
  packages/seal-meilisearch-adapter/composer.lock
  packages/seal-memory-adapter/composer.lock
  packages/seal-multi-adapter/composer.lock
  packages/seal-opensearch-adapter/composer.lock
  packages/seal-read-write-adapter/composer.lock
  packages/seal-redisearch-adapter/composer.lock
  packages/seal-solr-adapter/composer.lock
  packages/seal-typesense-adapter/composer.lock
  packages/seal/composer.lock
Labels: bug, documentation, Integration: Symfony, Integration: Laravel, Integration: Spiral, Integration: Mezzio, Integration: Yii

#469 Update elasticsearch docker image from 8.15.3 to 8.17.0
  .examples/laravel/docker-compose.yml
  .examples/mezzio/docker-compose.yml
  .examples/spiral/docker-compose.yml
  .examples/symfony/docker-compose.yml
  .examples/yii/docker-compose.yml
  docs/getting-started/index.rst
  packages/seal-elasticsearch-adapter/docker-compose.yml
Labels: Adapter: Elasticsearch, DX
