Repository PHP-CMSIG/search, pull requests merged in 2024-10, with the labels that each got.

#427 Add stricter validation for field names
  .github/workflows/callable-test.yml
  .github/workflows/lint.yml
  packages/seal/phpunit.xml.dist
  packages/seal/src/Schema/Index.php
  packages/seal/tests/Schema/IndexTest.php
  packages/seal/tests/Schema/Loader/fixtures/basic/news.php
Labels: SEAL Core, DX

#429 Improve algolia cleanup script to retry deletion
  packages/seal-algolia-adapter/bin/drop_all_indexes.php
Labels: Adapter: Algolia, DX

#430 Add bulk operation for Engine and Indexers and use it for reindex operation
  integrations/laravel/src/Console/ReindexCommand.php
  integrations/mezzio/src/Command/ReindexCommand.php
  integrations/spiral/src/Console/ReindexCommand.php
  integrations/symfony/src/Command/ReindexCommand.php
  integrations/yii/src/Command/ReindexCommand.php
  packages/seal-algolia-adapter/src/AlgoliaIndexer.php
  packages/seal-elasticsearch-adapter/src/ElasticsearchIndexer.php
  packages/seal-loupe-adapter/src/LoupeIndexer.php
  packages/seal-meilisearch-adapter/composer.json
  packages/seal-meilisearch-adapter/composer.lock
  packages/seal-meilisearch-adapter/src/MeilisearchIndexer.php
  packages/seal-memory-adapter/src/MemoryIndexer.php
  packages/seal-opensearch-adapter/src/OpensearchIndexer.php
  packages/seal-redisearch-adapter/src/RediSearchIndexer.php
  packages/seal-solr-adapter/src/SolrIndexer.php
  packages/seal-typesense-adapter/src/TypesenseIndexer.php
  packages/seal/src/Adapter/BulkHelper.php
  packages/seal/src/Adapter/BulkableIndexerInterface.php
  packages/seal/src/Engine.php
  packages/seal/src/EngineInterface.php
  packages/seal/src/Testing/AbstractIndexerTestCase.php
Labels: features, Adapter: Elasticsearch, Adapter: Opensearch, Adapter: Memory, Adapter: ReadWrite, Adapter: Multi, SEAL Core, Adapter: Algolia, Adapter: Solr, Adapter: Typesense, Adapter: RediSearch, Adapter: Loupe

#434 Add option to control bulk size for reindex commands (BC Breaks)
  integrations/laravel/src/Console/ReindexCommand.php
  integrations/mezzio/src/Command/ReindexCommand.php
  integrations/spiral/src/Console/ReindexCommand.php
  integrations/symfony/src/Command/ReindexCommand.php
  integrations/yii/src/Command/ReindexCommand.php
  packages/seal/src/Engine.php
  packages/seal/src/EngineInterface.php
Labels: SEAL Core, Integration: Symfony, Integration: Laravel, Integration: Spiral, Integration: Mezzio, Integration: Yii

#435 Move bulk method from own Interface to IndexerInterface
  packages/seal-algolia-adapter/src/AlgoliaIndexer.php
  packages/seal-elasticsearch-adapter/src/ElasticsearchIndexer.php
  packages/seal-loupe-adapter/src/LoupeIndexer.php
  packages/seal-meilisearch-adapter/src/MeilisearchIndexer.php
  packages/seal-memory-adapter/src/MemoryIndexer.php
  packages/seal-multi-adapter/src/MultiIndexer.php
  packages/seal-opensearch-adapter/src/OpensearchIndexer.php
  packages/seal-redisearch-adapter/src/RediSearchIndexer.php
  packages/seal-solr-adapter/src/SolrIndexer.php
  packages/seal-typesense-adapter/src/TypesenseIndexer.php
  packages/seal/src/Adapter/BulkableIndexerInterface.php
  packages/seal/src/Adapter/IndexerInterface.php
  packages/seal/src/Engine.php
Labels: Adapter: Elasticsearch, Adapter: Opensearch, Adapter: Memory, Adapter: ReadWrite, Adapter: Multi, Adapter: Meilisearch, SEAL Core, Adapter: Algolia, Adapter: Solr, Adapter: Typesense, Adapter: RediSearch, DX, Adapter: Loupe

#436 Fix abstract bulk test
  integrations/mezzio/src/Command/ReindexCommand.php
  integrations/symfony/src/Command/ReindexCommand.php
  integrations/yii/src/Command/ReindexCommand.php
  packages/seal/src/Testing/AbstractIndexerTestCase.php
Labels: bug, SEAL Core, DX

#437 Fix yii integration tests
  .examples/yii/composer.json
  .examples/yii/composer.lock
  .examples/yii/config/common/params.php
  .examples/yii/src/Controller/SearchController.php
  .examples/yii/tests/Functional/SearchControllerTest.php
  .github/workflows/callable-test.yml
  .github/workflows/docs.yml
  .github/workflows/lint.yml
Labels: bug, Integration: Yii

#433 Add support for Nested Conditions via AndCondition and OrCondition
  packages/seal-algolia-adapter/src/AlgoliaSearcher.php
  packages/seal-elasticsearch-adapter/src/ElasticsearchSearcher.php
  packages/seal-loupe-adapter/composer.json
  packages/seal-loupe-adapter/composer.lock
  packages/seal-loupe-adapter/src/LoupeSearcher.php
  packages/seal-meilisearch-adapter/src/MeilisearchSearcher.php
  packages/seal-memory-adapter/src/MemorySearcher.php
  packages/seal-opensearch-adapter/src/OpensearchSearcher.php
  packages/seal-redisearch-adapter/src/RediSearchSearcher.php
  packages/seal-solr-adapter/src/SolrSearcher.php
  packages/seal-typesense-adapter/src/TypesenseSearcher.php
  packages/seal/src/Search/Condition/AbstractGroupCondition.php
  packages/seal/src/Search/Condition/AndCondition.php
  packages/seal/src/Search/Condition/OrCondition.php
  packages/seal/src/Testing/AbstractSearcherTestCase.php
  packages/seal/src/Testing/TestingHelper.php
Labels: features, Adapter: Elasticsearch, Adapter: Opensearch, Adapter: Memory, Adapter: Meilisearch, SEAL Core, Adapter: Algolia, Adapter: Solr, Adapter: Typesense, Adapter: RediSearch, Adapter: Loupe

#438 Make And and OrConditions readonly
  packages/seal-algolia-adapter/src/AlgoliaSearcher.php
  packages/seal-elasticsearch-adapter/src/ElasticsearchSearcher.php
  packages/seal-loupe-adapter/src/LoupeSearcher.php
  packages/seal-meilisearch-adapter/src/MeilisearchSearcher.php
  packages/seal-memory-adapter/src/MemorySearcher.php
  packages/seal-opensearch-adapter/src/OpensearchSearcher.php
  packages/seal-redisearch-adapter/src/RediSearchSearcher.php
  packages/seal-solr-adapter/src/SolrSearcher.php
  packages/seal-typesense-adapter/src/TypesenseSearcher.php
  packages/seal/src/Search/Condition/AbstractGroupCondition.php
Labels: SEAL Core, DX

#440 Add new logo for SEAL by Meine Wilma 🚀 🎉
  README.md
  docs/_static/icons/favicon.ico
  docs/_static/icons/logo.png
  docs/_static/icons/logo.svg
  docs/conf.py
  integrations/laravel/README.md
  integrations/mezzio/README.md
  integrations/spiral/README.md
  integrations/symfony/README.md
  integrations/yii/README.md
  packages/seal-algolia-adapter/README.md
  packages/seal-elasticsearch-adapter/README.md
  packages/seal-loupe-adapter/README.md
  packages/seal-meilisearch-adapter/README.md
  packages/seal-memory-adapter/README.md
  packages/seal-multi-adapter/README.md
  packages/seal-opensearch-adapter/README.md
  packages/seal-read-write-adapter/README.md
  packages/seal-redisearch-adapter/README.md
  packages/seal-solr-adapter/README.md
  packages/seal-typesense-adapter/README.md
  packages/seal/README.md
Labels: features

#441 Add documentation about AndCondtion and OrCondition filters
  docs/search-and-filters/index.rst
Labels: documentation, DX

#442 Add creator hint to logo and fix favicon
  docs/_static/css/custom.css
  docs/_static/icons/favicon.ico
  docs/_templates/sidebar/brand.html
  docs/conf.py
Labels: bug, documentation

#443 Fix typos in AndCondition and OrCondition and Logo Creator, add hint about Algolia AndCondition
  docs/_templates/sidebar/brand.html
  docs/search-and-filters/index.rst
Labels: bug, documentation

#447 Add InCondition Filter
  packages/seal-algolia-adapter/src/AlgoliaSearcher.php
  packages/seal-elasticsearch-adapter/src/ElasticsearchSearcher.php
  packages/seal-loupe-adapter/src/LoupeSearcher.php
  packages/seal-meilisearch-adapter/src/MeilisearchSearcher.php
  packages/seal-memory-adapter/src/MemorySearcher.php
  packages/seal-opensearch-adapter/src/OpensearchSearcher.php
  packages/seal-redisearch-adapter/src/RediSearchSearcher.php
  packages/seal-solr-adapter/src/SolrSearcher.php
  packages/seal-typesense-adapter/src/TypesenseSearcher.php
  packages/seal/src/Search/Condition/InCondition.php
  packages/seal/src/Testing/AbstractSearcherTestCase.php
Labels: features, Adapter: Memory, SEAL Core

#449 Update Elasticsearch, Redisearch, Typesense docker compose files to latest versions
  .examples/laravel/docker-compose.yml
  .examples/mezzio/docker-compose.yml
  .examples/spiral/docker-compose.yml
  .examples/symfony/docker-compose.yml
  .examples/yii/docker-compose.yml
  docs/getting-started/index.rst
  packages/seal-elasticsearch-adapter/docker-compose.yml
  packages/seal-redisearch-adapter/docker-compose.yml
  packages/seal-typesense-adapter/docker-compose.yml
Labels: DX, dependencies

#448 Add `NotInCondition` Filter
  packages/seal-algolia-adapter/src/AlgoliaSearcher.php
  packages/seal-elasticsearch-adapter/src/ElasticsearchSearcher.php
  packages/seal-loupe-adapter/src/LoupeSearcher.php
  packages/seal-meilisearch-adapter/src/MeilisearchSearcher.php
  packages/seal-memory-adapter/src/MemorySearcher.php
  packages/seal-opensearch-adapter/src/OpensearchSearcher.php
  packages/seal-redisearch-adapter/src/RediSearchSearcher.php
  packages/seal-solr-adapter/src/SolrSearcher.php
  packages/seal-typesense-adapter/src/TypesenseSearcher.php
  packages/seal/src/Search/Condition/NotInCondition.php
  packages/seal/src/Testing/AbstractSearcherTestCase.php
Labels: features, Adapter: Elasticsearch, Adapter: Opensearch, Adapter: Memory, Adapter: Meilisearch, SEAL Core, Adapter: Algolia, Adapter: Solr, Adapter: Typesense, Adapter: RediSearch, Adapter: Loupe

#451 Remove support for search multi Indexes by once (BC Break)
  packages/seal-algolia-adapter/bin/drop_all_indexes.php
  packages/seal-algolia-adapter/src/AlgoliaSearcher.php
  packages/seal-algolia-adapter/tests/AlgoliaSearcherTest.php
  packages/seal-elasticsearch-adapter/src/ElasticsearchSearcher.php
  packages/seal-loupe-adapter/src/LoupeSearcher.php
  packages/seal-loupe-adapter/tests/LoupeSearcherTest.php
  packages/seal-meilisearch-adapter/src/MeilisearchSearcher.php
  packages/seal-meilisearch-adapter/tests/MeilisearchSearcherTest.php
  packages/seal-memory-adapter/src/MemorySearcher.php
  packages/seal-opensearch-adapter/phpunit.xml.dist
  packages/seal-opensearch-adapter/src/OpensearchSearcher.php
  packages/seal-redisearch-adapter/src/RediSearchSearcher.php
  packages/seal-redisearch-adapter/tests/RediSearchSearcherTest.php
  packages/seal-solr-adapter/src/SolrSearcher.php
  packages/seal-solr-adapter/tests/SolrSearcherTest.php
  packages/seal-typesense-adapter/src/TypesenseSearcher.php
  packages/seal-typesense-adapter/tests/TypesenseSearcherTest.php
  packages/seal/src/Engine.php
  packages/seal/src/EngineInterface.php
  packages/seal/src/Search/Search.php
  packages/seal/src/Search/SearchBuilder.php
  packages/seal/src/Testing/AbstractIndexerTestCase.php
  packages/seal/src/Testing/AbstractSearcherTestCase.php
Labels: Adapter: Elasticsearch, Adapter: Opensearch, Adapter: Memory, Adapter: Meilisearch, SEAL Core, Adapter: Algolia, Adapter: Solr, Adapter: Typesense, Adapter: RediSearch, DX, Adapter: Loupe

#453 Add docs about new SearchBuilder for single index
  docs/cookbooks/create-own-adapter.rst
  docs/getting-started/index.rst
  docs/search-and-filters/index.rst
Labels: documentation, SEAL Core, DX
