Repository PHP-CMSIG/search, pull requests merged in 2024-09, with the labels that each got.

#417 Fix Yii compatibility issues with dev packages in the example project
  .examples/yii/composer.json
  .examples/yii/composer.lock
  .examples/yii/config/common/params.php
  .examples/yii/src/Handler/NotFoundHandler.php
  .examples/yii/src/ViewInjection/CommonViewInjection.php
  .examples/yii/src/ViewInjection/LayoutViewInjection.php
  .examples/yii/src/ViewInjection/TranslatorViewInjection.php
Labels: bug, Integration: Yii

#363 Add GeoDistanceCondition
  docs/search-and-filters/index.rst
  packages/seal-algolia-adapter/src/AlgoliaIndexer.php
  packages/seal-algolia-adapter/src/AlgoliaSchemaManager.php
  packages/seal-algolia-adapter/src/AlgoliaSearcher.php
  packages/seal-elasticsearch-adapter/src/ElasticsearchIndexer.php
  packages/seal-elasticsearch-adapter/src/ElasticsearchSchemaManager.php
  packages/seal-elasticsearch-adapter/src/ElasticsearchSearcher.php
  packages/seal-elasticsearch-adapter/tests/ElasticsearchSchemaManagerTest.php
  packages/seal-loupe-adapter/src/LoupeIndexer.php
  packages/seal-loupe-adapter/src/LoupeSearcher.php
  packages/seal-meilisearch-adapter/src/MeilisearchIndexer.php
  packages/seal-meilisearch-adapter/src/MeilisearchSchemaManager.php
  packages/seal-meilisearch-adapter/src/MeilisearchSearcher.php
  packages/seal-memory-adapter/src/MemorySearcher.php
  packages/seal-opensearch-adapter/src/OpensearchIndexer.php
  packages/seal-opensearch-adapter/src/OpensearchSchemaManager.php
  packages/seal-opensearch-adapter/src/OpensearchSearcher.php
  packages/seal-opensearch-adapter/tests/OpensearchSchemaManagerTest.php
  packages/seal-redisearch-adapter/src/RediSearchIndexer.php
  packages/seal-redisearch-adapter/src/RediSearchSchemaManager.php
  packages/seal-redisearch-adapter/src/RediSearchSearcher.php
  packages/seal-solr-adapter/src/SolrIndexer.php
  packages/seal-solr-adapter/src/SolrSchemaManager.php
  packages/seal-solr-adapter/src/SolrSearcher.php
  packages/seal-typesense-adapter/src/TypesenseIndexer.php
  packages/seal-typesense-adapter/src/TypesenseSchemaManager.php
  packages/seal-typesense-adapter/src/TypesenseSearcher.php
  packages/seal/src/Marshaller/FlattenMarshaller.php
  packages/seal/src/Marshaller/Marshaller.php
  packages/seal/src/Schema/Field/GeoPointField.php
  packages/seal/src/Schema/Index.php
  packages/seal/src/Search/Condition/GeoDistanceCondition.php
  packages/seal/src/Testing/AbstractSearcherTestCase.php
  packages/seal/src/Testing/TestingHelper.php
  packages/seal/tests/Marshaller/FlattenMarshallerTest.php
  packages/seal/tests/Marshaller/MarshallerTest.php
Labels: features, help wanted, Adapter: Elasticsearch, Adapter: Opensearch, Adapter: Meilisearch, SEAL Core, Adapter: Algolia, Adapter: Solr, Adapter: Typesense, Adapter: RediSearch, Adapter: Loupe

#419 Update different tooling dependencies to latest version
  .examples/laravel/composer.lock
  .examples/mezzio/composer.lock
  .examples/spiral/composer.json
  .examples/spiral/composer.lock
  .examples/symfony/composer.lock
  .examples/yii/composer.lock
  integrations/laravel/composer.lock
  integrations/mezzio/composer.lock
  integrations/spiral/composer.lock
  integrations/spiral/src/Config/SearchConfig.php
  integrations/symfony/composer.lock
  integrations/yii/composer.lock
  packages/seal-algolia-adapter/composer.lock
  packages/seal-elasticsearch-adapter/composer.lock
  packages/seal-loupe-adapter/composer.lock
  packages/seal-meilisearch-adapter/composer.lock
  packages/seal-memory-adapter/composer.lock
  packages/seal-memory-adapter/src/MemorySearcher.php
  packages/seal-multi-adapter/composer.lock
  packages/seal-opensearch-adapter/composer.lock
  packages/seal-read-write-adapter/composer.lock
  packages/seal-redisearch-adapter/composer.lock
  packages/seal-solr-adapter/composer.lock
  packages/seal-solr-adapter/src/SolrSearcher.php
  packages/seal-typesense-adapter/composer.lock
  packages/seal/composer.lock
  packages/seal/src/Marshaller/FlattenMarshaller.php
  packages/seal/src/Marshaller/Marshaller.php
  packages/seal/src/Testing/AbstractSearcherTestCase.php
Labels: SEAL Core, DX

#414 Upgrade Algolia package to V4
  packages/seal-algolia-adapter/bin/drop_all_indexes.php
  packages/seal-algolia-adapter/composer.json
  packages/seal-algolia-adapter/composer.lock
  packages/seal-algolia-adapter/src/AlgoliaAdapter.php
  packages/seal-algolia-adapter/src/AlgoliaAdapterFactory.php
  packages/seal-algolia-adapter/src/AlgoliaIndexer.php
  packages/seal-algolia-adapter/src/AlgoliaSchemaManager.php
  packages/seal-algolia-adapter/src/AlgoliaSearcher.php
  packages/seal-algolia-adapter/tests/ClientHelper.php
Labels: Adapter: Algolia, DX

#421 Upgrade loupe to version 0.7
  .examples/laravel/composer.lock
  .examples/mezzio/composer.lock
  .examples/spiral/composer.lock
  .examples/symfony/composer.lock
  .examples/yii/composer.lock
  integrations/laravel/composer.lock
  integrations/mezzio/composer.lock
  integrations/spiral/composer.lock
  integrations/symfony/composer.lock
  integrations/yii/composer.lock
  packages/seal-algolia-adapter/composer.lock
  packages/seal-elasticsearch-adapter/composer.lock
  packages/seal-loupe-adapter/composer.json
  packages/seal-loupe-adapter/composer.lock
  packages/seal-meilisearch-adapter/composer.lock
  packages/seal-memory-adapter/composer.lock
  packages/seal-multi-adapter/composer.lock
  packages/seal-opensearch-adapter/composer.lock
  packages/seal-read-write-adapter/composer.lock
  packages/seal-redisearch-adapter/composer.lock
  packages/seal-solr-adapter/composer.lock
  packages/seal-typesense-adapter/composer.lock
  packages/seal/composer.lock
Labels: DX, Adapter: Loupe

#420 Add GeoBoundingBoxCondition
  docs/search-and-filters/index.rst
  packages/seal-algolia-adapter/src/AlgoliaSearcher.php
  packages/seal-elasticsearch-adapter/src/ElasticsearchSearcher.php
  packages/seal-loupe-adapter/src/LoupeSearcher.php
  packages/seal-meilisearch-adapter/src/MeilisearchSearcher.php
  packages/seal-memory-adapter/src/MemorySearcher.php
  packages/seal-opensearch-adapter/src/OpensearchSearcher.php
  packages/seal-redisearch-adapter/src/RediSearchSearcher.php
  packages/seal-redisearch-adapter/tests/RediSearchSearcherTest.php
  packages/seal-solr-adapter/src/SolrSearcher.php
  packages/seal-typesense-adapter/src/TypesenseSearcher.php
  packages/seal/src/Search/Condition/GeoBoundingBoxCondition.php
  packages/seal/src/Testing/AbstractSearcherTestCase.php
Labels: features, Adapter: Elasticsearch, Adapter: Opensearch, Adapter: Memory, Adapter: Meilisearch, SEAL Core, Adapter: Algolia, Adapter: Solr, Adapter: Typesense, Adapter: RediSearch, Adapter: Loupe

#425 Prepare 0.6 branch
  .examples/laravel/composer.json
  .examples/laravel/composer.lock
  .examples/mezzio/composer.json
  .examples/mezzio/composer.lock
  .examples/spiral/composer.json
  .examples/spiral/composer.lock
  .examples/symfony/composer.json
  .examples/symfony/composer.lock
  .examples/yii/composer.json
  .examples/yii/composer.lock
  .github/workflows/callable-test.yml
  .github/workflows/docs.yml
  .github/workflows/lint.yml
  integrations/laravel/composer.json
  integrations/laravel/composer.lock
  integrations/mezzio/composer.json
  integrations/mezzio/composer.lock
  integrations/spiral/composer.json
  integrations/spiral/composer.lock
  integrations/symfony/composer.json
  integrations/symfony/composer.lock
  integrations/yii/composer.json
  integrations/yii/composer.lock
  packages/seal-algolia-adapter/composer.json
  packages/seal-algolia-adapter/composer.lock
  packages/seal-elasticsearch-adapter/composer.json
  packages/seal-elasticsearch-adapter/composer.lock
  packages/seal-loupe-adapter/composer.json
  packages/seal-loupe-adapter/composer.lock
  packages/seal-meilisearch-adapter/composer.json
  packages/seal-meilisearch-adapter/composer.lock
  packages/seal-memory-adapter/composer.json
  packages/seal-memory-adapter/composer.lock
  packages/seal-multi-adapter/composer.json
  packages/seal-multi-adapter/composer.lock
  packages/seal-opensearch-adapter/composer.json
  packages/seal-opensearch-adapter/composer.lock
  packages/seal-read-write-adapter/composer.json
  packages/seal-read-write-adapter/composer.lock
  packages/seal-redisearch-adapter/composer.json
  packages/seal-redisearch-adapter/composer.lock
  packages/seal-solr-adapter/composer.json
  packages/seal-solr-adapter/composer.lock
  packages/seal-typesense-adapter/composer.json
  packages/seal-typesense-adapter/composer.lock
  packages/seal/composer.lock
Labels: DX
