Repository PHP-CMSIG/search, pull requests merged in 2024-03, with the labels that each got.

#369 Fix Opensearch Docker compose container exited (1) appearing in Opensearch 2.12
  .examples/laravel/docker-compose.yml
  .examples/mezzio/docker-compose.yml
  .examples/spiral/docker-compose.yml
  .examples/symfony/docker-compose.yml
  .examples/yii/docker-compose.yml
  docs/getting-started/index.rst
  packages/seal-opensearch-adapter/docker-compose.yml
Labels: bug, Adapter: Opensearch

#366 Add dependency injection alias for Schema class
  integrations/laravel/src/SearchProvider.php
  integrations/mezzio/src/ConfigProvider.php
  integrations/mezzio/src/Service/SealContainerFactory.php
  integrations/spiral/src/Bootloader/SearchBootloader.php
  integrations/symfony/src/SearchBundle.php
  integrations/yii/config/di.php
Labels: features, Integration: Symfony, Integration: Laravel, Integration: Spiral, DX, Integration: Mezzio, Integration: Yii

#374 Upgrade all dependencies to latest versions
  .examples/laravel/composer.lock
  .examples/mezzio/composer.lock
  .examples/spiral/composer.lock
  .examples/symfony/composer.lock
  .examples/yii/composer.lock
  integrations/laravel/composer.lock
  integrations/mezzio/composer.lock
  integrations/spiral/composer.lock
  integrations/symfony/composer.lock
  integrations/yii/composer.lock
  packages/seal-algolia-adapter/composer.lock
  packages/seal-elasticsearch-adapter/composer.lock
  packages/seal-loupe-adapter/composer.lock
  packages/seal-meilisearch-adapter/composer.lock
  packages/seal-memory-adapter/composer.lock
  packages/seal-multi-adapter/composer.lock
  packages/seal-opensearch-adapter/composer.lock
  packages/seal-read-write-adapter/composer.lock
  packages/seal-redisearch-adapter/composer.lock
  packages/seal-solr-adapter/composer.lock
  packages/seal-typesense-adapter/composer.lock
  packages/seal/composer.lock
Labels: DX

#375 Fix Spiral Integration Example
  .examples/spiral/composer.json
  .examples/spiral/composer.lock
Labels: bug, Integration: Spiral

#376 Update Meilisearch docker images to 1.7
  .examples/laravel/docker-compose.yml
  .examples/mezzio/docker-compose.yml
  .examples/spiral/docker-compose.yml
  .examples/symfony/docker-compose.yml
  .examples/yii/docker-compose.yml
  docs/getting-started/index.rst
  packages/seal-meilisearch-adapter/docker-compose.yml
Labels: Adapter: Meilisearch

#377 Prepare 0.4 branch
  .examples/laravel/composer.json
  .examples/laravel/composer.lock
  .examples/mezzio/composer.json
  .examples/mezzio/composer.lock
  .examples/spiral/composer.json
  .examples/spiral/composer.lock
  .examples/symfony/composer.json
  .examples/symfony/composer.lock
  .examples/yii/composer.json
  .examples/yii/composer.lock
  .github/workflows/callable-test.yml
  .github/workflows/lint.yml
  composer.lock
  integrations/laravel/composer.json
  integrations/laravel/composer.lock
  integrations/mezzio/composer.json
  integrations/mezzio/composer.lock
  integrations/spiral/composer.json
  integrations/spiral/composer.lock
  integrations/symfony/composer.json
  integrations/symfony/composer.lock
  integrations/yii/composer.json
  integrations/yii/composer.lock
  packages/seal-algolia-adapter/composer.json
  packages/seal-algolia-adapter/composer.lock
  packages/seal-elasticsearch-adapter/composer.json
  packages/seal-elasticsearch-adapter/composer.lock
  packages/seal-loupe-adapter/composer.json
  packages/seal-loupe-adapter/composer.lock
  packages/seal-meilisearch-adapter/composer.json
  packages/seal-meilisearch-adapter/composer.lock
  packages/seal-memory-adapter/composer.json
  packages/seal-memory-adapter/composer.lock
  packages/seal-multi-adapter/composer.json
  packages/seal-multi-adapter/composer.lock
  packages/seal-opensearch-adapter/composer.json
  packages/seal-opensearch-adapter/composer.lock
  packages/seal-read-write-adapter/composer.json
  packages/seal-read-write-adapter/composer.lock
  packages/seal-redisearch-adapter/composer.json
  packages/seal-redisearch-adapter/composer.lock
  packages/seal-solr-adapter/composer.json
  packages/seal-solr-adapter/composer.lock
  packages/seal-typesense-adapter/composer.json
  packages/seal-typesense-adapter/composer.lock
  packages/seal/composer.lock
Labels: DX

#380 Fix laravel artisan key generate in composer update
  .examples/laravel/composer.json
Labels: bug, Integration: Laravel

#372 [Loupe] Format fields with underscore
  packages/seal-loupe-adapter/composer.json
  packages/seal-loupe-adapter/src/LoupeHelper.php
  packages/seal-loupe-adapter/src/LoupeIndexer.php
  packages/seal-loupe-adapter/src/LoupeSearcher.php
  packages/seal-meilisearch-adapter/src/MeilisearchSearcher.php
Labels: bug, Adapter: Loupe

#382 Prepare 0.5 branch
  .examples/laravel/composer.json
  .examples/laravel/composer.lock
  .examples/mezzio/composer.json
  .examples/mezzio/composer.lock
  .examples/spiral/composer.json
  .examples/spiral/composer.lock
  .examples/symfony/composer.json
  .examples/symfony/composer.lock
  .examples/yii/composer.json
  .examples/yii/composer.lock
  .github/workflows/callable-test.yml
  .github/workflows/lint.yml
  integrations/laravel/composer.json
  integrations/laravel/composer.lock
  integrations/mezzio/composer.json
  integrations/mezzio/composer.lock
  integrations/spiral/composer.json
  integrations/spiral/composer.lock
  integrations/symfony/composer.json
  integrations/symfony/composer.lock
  integrations/yii/composer.json
  integrations/yii/composer.lock
  packages/seal-algolia-adapter/composer.json
  packages/seal-algolia-adapter/composer.lock
  packages/seal-elasticsearch-adapter/composer.json
  packages/seal-elasticsearch-adapter/composer.lock
  packages/seal-loupe-adapter/composer.json
  packages/seal-loupe-adapter/composer.lock
  packages/seal-meilisearch-adapter/composer.json
  packages/seal-meilisearch-adapter/composer.lock
  packages/seal-memory-adapter/composer.json
  packages/seal-memory-adapter/composer.lock
  packages/seal-multi-adapter/composer.json
  packages/seal-multi-adapter/composer.lock
  packages/seal-opensearch-adapter/composer.json
  packages/seal-opensearch-adapter/composer.lock
  packages/seal-read-write-adapter/composer.json
  packages/seal-read-write-adapter/composer.lock
  packages/seal-redisearch-adapter/composer.json
  packages/seal-redisearch-adapter/composer.lock
  packages/seal-solr-adapter/composer.json
  packages/seal-solr-adapter/composer.lock
  packages/seal-typesense-adapter/composer.json
  packages/seal-typesense-adapter/composer.lock
  packages/seal/composer.lock
Labels: DX

#381 Add index aliases for Elasticsearch indexes
  packages/seal-elasticsearch-adapter/src/ElasticsearchSchemaManager.php
  packages/seal-elasticsearch-adapter/src/ElasticsearchSearcher.php
  packages/seal-elasticsearch-adapter/tests/ElasticsearchSchemaManagerTest.php
Labels: features, Adapter: Elasticsearch

#384 Add index aliases for Opensearch indexes
  packages/seal-opensearch-adapter/src/OpensearchSchemaManager.php
  packages/seal-opensearch-adapter/src/OpensearchSearcher.php
  packages/seal-opensearch-adapter/tests/OpensearchSchemaManagerTest.php
Labels: features, Adapter: Opensearch

#385 Update elasticsearch images
  .examples/laravel/composer.lock
  .examples/laravel/docker-compose.yml
  .examples/mezzio/composer.lock
  .examples/mezzio/docker-compose.yml
  .examples/spiral/composer.lock
  .examples/spiral/docker-compose.yml
  .examples/symfony/composer.lock
  .examples/symfony/docker-compose.yml
  .examples/yii/composer.lock
  .examples/yii/docker-compose.yml
  docs/getting-started/index.rst
  integrations/laravel/composer.lock
  integrations/mezzio/composer.lock
  integrations/spiral/composer.lock
  integrations/symfony/composer.lock
  integrations/yii/composer.lock
  packages/seal-algolia-adapter/composer.lock
  packages/seal-elasticsearch-adapter/composer.lock
  packages/seal-elasticsearch-adapter/docker-compose.yml
  packages/seal-loupe-adapter/composer.lock
  packages/seal-meilisearch-adapter/composer.lock
  packages/seal-memory-adapter/composer.lock
  packages/seal-multi-adapter/composer.lock
  packages/seal-opensearch-adapter/composer.lock
  packages/seal-read-write-adapter/composer.lock
  packages/seal-redisearch-adapter/composer.lock
  packages/seal-solr-adapter/composer.lock
  packages/seal-typesense-adapter/composer.lock
  packages/seal/composer.lock
Labels: Adapter: Elasticsearch, DX
