Repository PHP-CMSIG/search, pull requests merged in 2025-07, with the labels that each got.

#573 Fix workflow name for docs build
  .github/workflows/docs.yml
Labels: bug, documentation

#576 Allow symfony/console:^7.0 in mezzio integration
  integrations/mezzio/composer.json
  integrations/mezzio/composer.lock
Labels: DX, Integration: Mezzio

#585 Upgrade elasticsearch docker images to 9.1.0
  .examples/laravel/docker-compose.yml
  .examples/mezzio/docker-compose.yml
  .examples/spiral/docker-compose.yml
  .examples/symfony/docker-compose.yml
  .examples/yii/docker-compose.yml
  docs/getting-started/index.rst
  packages/seal-elasticsearch-adapter/docker-compose.yml
Labels: Adapter: Elasticsearch, dependencies
