Repository PHP-CMSIG/search, pull requests merged in 2025-05, with the labels that each got.

#526 Adjust docs for loupe/matcher
  docs/search-and-filters/index.rst
Labels: documentation

#525 Fix and normalize handling of none matching highlight fields (BC Break)
  docs/search-and-filters/index.rst
  packages/seal-algolia-adapter/src/AlgoliaSearcher.php
  packages/seal-elasticsearch-adapter/src/ElasticsearchSearcher.php
  packages/seal-loupe-adapter/src/LoupeSearcher.php
  packages/seal-meilisearch-adapter/src/MeilisearchSearcher.php
  packages/seal-memory-adapter/src/MemorySearcher.php
  packages/seal-opensearch-adapter/src/OpensearchSearcher.php
  packages/seal-solr-adapter/src/SolrSearcher.php
  packages/seal-typesense-adapter/src/TypesenseSearcher.php
  packages/seal/src/Testing/AbstractSearcherTestCase.php
Labels: bug, Adapter: Elasticsearch, Adapter: Opensearch, Adapter: Memory, Adapter: Meilisearch, Adapter: Algolia, Adapter: Solr, Adapter: Typesense, Adapter: Loupe

#527 Fix sort by text fields for elasticsearch, opensearch, typesense and solr
  packages/seal-algolia-adapter/src/AlgoliaSearcher.php
  packages/seal-elasticsearch-adapter/src/ElasticsearchSearcher.php
  packages/seal-elasticsearch-adapter/tests/ElasticsearchSchemaManagerTest.php
  packages/seal-memory-adapter/src/MemorySearcher.php
  packages/seal-opensearch-adapter/src/OpensearchSchemaManager.php
  packages/seal-opensearch-adapter/src/OpensearchSearcher.php
  packages/seal-opensearch-adapter/tests/OpensearchSchemaManagerTest.php
  packages/seal-solr-adapter/src/SolrSearcher.php
  packages/seal-typesense-adapter/src/TypesenseSchemaManager.php
  packages/seal/src/Testing/AbstractSearcherTestCase.php
  packages/seal/src/Testing/TestingHelper.php
Labels: bug, Adapter: Elasticsearch, Adapter: Opensearch, Adapter: Algolia, Adapter: Solr, Adapter: Typesense

#529 Add support for Typesense 28 and Typesense PHP SDK 5
  .examples/laravel/composer.lock
  .examples/laravel/docker-compose.yml
  .examples/mezzio/composer.lock
  .examples/mezzio/docker-compose.yml
  .examples/spiral/composer.lock
  .examples/spiral/docker-compose.yml
  .examples/symfony/composer.lock
  .examples/symfony/docker-compose.yml
  .examples/yii/composer.lock
  .examples/yii/docker-compose.yml
  docs/getting-started/index.rst
  integrations/laravel/composer.lock
  integrations/mezzio/composer.lock
  integrations/spiral/composer.lock
  integrations/symfony/composer.lock
  integrations/yii/composer.lock
  packages/seal-algolia-adapter/composer.lock
  packages/seal-elasticsearch-adapter/composer.lock
  packages/seal-loupe-adapter/composer.lock
  packages/seal-meilisearch-adapter/composer.lock
  packages/seal-memory-adapter/composer.lock
  packages/seal-multi-adapter/composer.lock
  packages/seal-opensearch-adapter/composer.lock
  packages/seal-read-write-adapter/composer.lock
  packages/seal-redisearch-adapter/composer.lock
  packages/seal-solr-adapter/composer.lock
  packages/seal-typesense-adapter/composer.json
  packages/seal-typesense-adapter/composer.lock
  packages/seal-typesense-adapter/docker-compose.yml
  packages/seal/composer.lock
Labels: features, Adapter: Typesense

#531 Add support for Redis 8
  .examples/laravel/docker-compose.yml
  .examples/mezzio/docker-compose.yml
  .examples/spiral/docker-compose.yml
  .examples/symfony/docker-compose.yml
  .examples/yii/docker-compose.yml
  docs/getting-started/index.rst
  packages/seal-redisearch-adapter/docker-compose.yml
  packages/seal-redisearch-adapter/src/RediSearchSchemaManager.php
  packages/seal-redisearch-adapter/tests/ClientHelper.php
Labels: features, Adapter: RediSearch

#534 Improve error message about field names in indexes
  packages/seal/src/Schema/Index.php
  packages/seal/tests/Schema/IndexTest.php
Labels: DX

#538 Improve error message about missing highlighted field in hit
  packages/seal-algolia-adapter/src/AlgoliaSearcher.php
  packages/seal-loupe-adapter/src/LoupeSearcher.php
  packages/seal-meilisearch-adapter/src/MeilisearchSearcher.php
Labels: DX

#541 Add possibility that an Index can have options
  packages/seal/src/Schema/Index.php
  packages/seal/src/Schema/Loader/PhpFileLoader.php
  packages/seal/tests/Schema/IndexTest.php
  packages/seal/tests/Schema/Loader/PhpFileLoaderTest.php
  packages/seal/tests/Schema/Loader/fixtures/basic/news.php
  packages/seal/tests/Schema/Loader/fixtures/basic/subdirectory/blog.php
  packages/seal/tests/Schema/Loader/fixtures/merge/blog_merge_1.php
  packages/seal/tests/Schema/Loader/fixtures/merge/blog_merge_2.php
Labels: features, SEAL Core

#546 Refactor FlattenMarshaller to not duplicate original document (BC Break)
  packages/seal-loupe-adapter/composer.lock
  packages/seal-loupe-adapter/src/LoupeHelper.php
  packages/seal-loupe-adapter/src/LoupeIndexer.php
  packages/seal-loupe-adapter/src/LoupeSearcher.php
  packages/seal-solr-adapter/src/SolrSchemaManager.php
  packages/seal/src/Marshaller/FlattenMarshaller.php
  packages/seal/src/Marshaller/Flattener.php
  packages/seal/src/Marshaller/Marshaller.php
  packages/seal/src/Testing/AbstractAdapterTestCase.php
  packages/seal/src/Testing/TestingHelper.php
  packages/seal/tests/Marshaller/FlattenMarshallerTest.php
  packages/seal/tests/Marshaller/FlattenerTest.php
Labels: Performance, Adapter: Solr, Adapter: Loupe

#547 Fix reindex documentation in getting started
  docs/getting-started/index.rst
Labels: bug, documentation

#553 Fix updating of the documentation
  .github/workflows/docs.yml
Labels: bug, documentation
