Repository PHP-CMSIG/search, pull requests merged in 2025-01, with the labels that each got.

#471 Add Support for autocreate of an Index for Loupe and Memory Adapter
  packages/seal-loupe-adapter/src/LoupeHelper.php
  packages/seal-memory-adapter/src/MemoryStorage.php
Labels: features, Adapter: Memory, Adapter: Loupe

#473 Add support for Loupe 0.9
  .examples/laravel/composer.lock
  .examples/mezzio/composer.lock
  .examples/spiral/composer.lock
  .examples/symfony/composer.lock
  .examples/yii/composer.lock
  integrations/laravel/composer.lock
  integrations/mezzio/composer.lock
  integrations/spiral/composer.lock
  integrations/symfony/composer.lock
  integrations/yii/composer.lock
  packages/seal-algolia-adapter/composer.lock
  packages/seal-elasticsearch-adapter/composer.lock
  packages/seal-loupe-adapter/composer.json
  packages/seal-loupe-adapter/composer.lock
  packages/seal-meilisearch-adapter/composer.lock
  packages/seal-memory-adapter/composer.lock
  packages/seal-multi-adapter/composer.lock
  packages/seal-opensearch-adapter/composer.lock
  packages/seal-read-write-adapter/composer.lock
  packages/seal-redisearch-adapter/composer.lock
  packages/seal-solr-adapter/composer.lock
  packages/seal-typesense-adapter/composer.lock
  packages/seal/composer.lock
Labels: features, Adapter: Loupe

#475 Correct typos
  .examples/laravel/app/Http/Controllers/SearchController.php
  .examples/mezzio/src/App/src/Handler/SearchHandler.php
  .examples/spiral/app/src/Endpoint/Web/SearchController.php
  .examples/symfony/src/Controller/SearchController.php
  .examples/yii/README.md
  .examples/yii/src/Controller/SearchController.php
  docs/_templates/page.html
  docs/cookbooks/create-own-adapter.rst
  docs/cookbooks/index.rst
  docs/getting-started/index.rst
  docs/indexing/index.rst
  docs/research/index.rst
  docs/schema/index.rst
  docs/search-and-filters/index.rst
  integrations/laravel/README.md
  integrations/mezzio/README.md
  integrations/mezzio/src/Service/SealContainer.php
  integrations/spiral/README.md
  integrations/symfony/README.md
  integrations/yii/README.md
  packages/seal/src/Marshaller/Marshaller.php
  packages/seal/src/Search/Condition/GeoBoundingBoxCondition.php
  packages/seal/src/Testing/TaskHelper.php
  packages/seal/src/Testing/TestingHelper.php
  packages/seal/tests/Marshaller/FlattenMarshallerTest.php
  packages/seal/tests/Marshaller/MarshallerTest.php
Labels: DX

#478 Enable Yii debugger for tests
  .examples/yii/composer.lock
Labels: bug, Integration: Yii

#479 Remove infection from yii app example
  .examples/laravel/composer.lock
  .examples/mezzio/composer.lock
  .examples/spiral/composer.lock
  .examples/symfony/composer.lock
  .examples/yii/composer.json
  .examples/yii/composer.lock
  integrations/laravel/composer.lock
  integrations/mezzio/composer.lock
  integrations/spiral/composer.lock
  integrations/symfony/composer.lock
  integrations/yii/composer.lock
  packages/seal-algolia-adapter/composer.lock
  packages/seal-elasticsearch-adapter/composer.lock
  packages/seal-loupe-adapter/composer.lock
  packages/seal-meilisearch-adapter/composer.lock
  packages/seal-memory-adapter/composer.lock
  packages/seal-multi-adapter/composer.lock
  packages/seal-opensearch-adapter/composer.lock
  packages/seal-read-write-adapter/composer.lock
  packages/seal-redisearch-adapter/composer.lock
  packages/seal-solr-adapter/composer.lock
  packages/seal-typesense-adapter/composer.lock
  packages/seal/composer.lock
Labels: bug, Integration: Yii
